<div class="container">
	<div class="row">
		<div class="col-md-8 mx-auto">
			<h1 class="text-center text-danger">Edit Article</h1>
			<% if @article.errors.any?%>
			<br>
			<ul class="alert-danger">
				<% @article.errors.each do |error| %>
					<li><%= error.full_message %></li>
					<br>	
				<% end %>
			</ul>
			<br>
			<% end %>
			<%=form_for @article do |f|%>
				<div class="form-group">
					<strong><%= f.label :hidline %></strong>	
					<%= f.text_field :hidline,class:"form-group form-control" %>
				</div>
				<br>
				<div class="form-group">
					<strong><%= f.label :content %></strong>	
    				<%= f.rich_text_area :content %>
				</div>
    			<br>
    			<div class="form-group">
    				<%=f.fields_for :article_tags do |builder|%>
    				<strong><%=builder.label :Tags %></strong>
						<%= builder.text_field :tag,class:"form-group form-control"%>
					<% end %>
    			</div>
				<br>
				<div class="form-group">
					<%= f.submit  class:"form-control btn btn-primary" %>
				</div>
			<% end %>
			<br>
			<%=link_to "Back",articles_path,class:"nav-link form-control btn btn-dark" %>
		</div>
	</div>
</div>		