<div class="container">
	<div class="row">
		<div class="col-md-8 mx-auto">
			<h1>New Article</h1>
			<%=form_for @article do |f|%>
				<%= f.label :hidline %>
				<%= f.text_field :hidline,class:"form-group form-control" %>
				<br>
				<%= f.label :content %>
    			<%= f.rich_text_area :content %>
    			<br>
    			<%=f.fields_for :article_tags do |builder|%>
					<%= builder.label :Tags %>
					<%= builder.text_field :tag,class:"form-group form-control"%>
				<% end %>
				<br>
				<%= f.submit  class:"form-control btn btn-primary" %>
			<% end %>
			<br>
			<%=link_to "Back",articles_path,class:"nav-link" %>
		</div>
	</div>
</div>		